@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
head,
body {
  width: 100%;
  height: 100%;
  background: rgb(255, 170, 184);
}

.d-flex-r {
  display: flex;
  align-items: center;
  justify-content: center;
}
.d-flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header,
nav {
  width: 100%;
  height: 10vh;
  font-family: "Poppins", sans-serif;
  & .logo {
    width: 50%;
    height: 100%;
    justify-content: space-evenly;
    background-color: rgb(255, 170, 184);
    padding-block: 0.8vh;

    & img {
      width: 10%;
      aspect-ratio: 1;
      border-radius: 50%;
    }
    & ul {
      width: 60%;
      height: 100%;
      list-style-type: none;

      & li,
      a {
        text-decoration: none;
        padding: 0.6vw;
        font-size: 1.1vw;
        color: #2e2e2e;
        &:hover {
          color: rgb(103, 103, 103);
        }
      }
    }
  }
  & .nav-rgt {
    justify-content: end;
    padding-right: 5vw;
    gap: 3vw;
    background-color: #d8aca6;
    /* background-color: red; */
  }
  & .ri-shopping-cart-2-line {
    font-size: 1.8vw;
    color: rgb(0, 0, 0);
  }
  & .btn {
    padding: 2vh 1.7vw;
    font-size: 0.8vw;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #ff6875;
    color: #000000;
    &:hover {
      background-color: #ff9da7;
    }
  }
}

main {
  position: relative;
  width: 100%;
  height: 90vh;
  & .main-lft {
    width: 50%;
    height: 100%;
    & .center {
      width: 80%;
      height: 50%;
      margin-top: -25vh;
      gap: 2vh;
      & h1 {
        font-size: 2.5vw;
        font-weight: 600;
        font-family: "Cinzel", serif;
      }
      & p {
        font-size: 1.2vw;
        color: #2b2b2b;
        font-weight: 500;
        line-height: 3vh;
      }
      & .button {
        width: 100%;
        height: 8vh;
        & .btn {
          padding: 2vh 1.7vw;
          font-size: 0.9vw;
          border-radius: 5px;
          outline: none;
          border: none;
          background-color: #ff6875;
          color: #000000;
          /* #ff9da7 */
          &:hover {
            background-color: #ff9da7;
            color: rgb(0, 0, 0);
          }
        }
        & .mix {
          width: 50%;
          height: 100%;
          & .circle {
            width: 60px;
            aspect-ratio: 1;
            border-radius: 50%;
            margin: -12px;
            & img {
              width: 100%;
              aspect-ratio: 1;
              object-fit: cover;
              border-radius: 50%;
              /* border: 3px solid white; */
              padding-top: 3px;
            }
          }
        }
      }
    }
  }
  & .main-rgt {
    width: 50%;
    height: 100%;
    background-image: url(DALL·E\ 2024-10-24\ 11.58.41\ -\ A\ minimalist\ top-down\ view\ of\ a\ table\ setting\ with\ a\ large\ round\ pink\ ceramic\ plate\ placed\ on\ a\ pink\ tablecloth.\ The\ setting\ is\ simple\,\ with\ no\ other\ .webp);
    background-position: 100% 65%;
    background-size: cover;
    & img {
      width: 50%;
      height: 50%;
      object-fit: cover;
      margin: -3vh 10vw 10vh 11vw;
      animation: rotate 200s linear infinite;
    }
  }
  & .glass {
    width: 70%;
    height: 15vh;
    background-color: rgba(207, 129, 142, 0.352);
    position: absolute;
    bottom: 2%;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    justify-content: space-evenly;
    & .box {
      width: 30%;
      height: 75%;
      background-color: #ff8d978e;
      border: 2px solid rgb(231, 231, 231);
      justify-content: space-around;
      border-radius: 20px;
      & img {
        width: 20%;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 50%;
        padding-top: 3px;
      }
      & h3 {
        color: black;
        font-weight: 800;
        font-size: 1.4vw;
        & span {
          font-size: 3vw;
          font-weight: 800;
          color: #ffffff;
        }
      }
      & i {
        border-radius: 50%;
        padding: 1vw;
        background-color: rgb(0, 0, 0);
        color: white;
      }
    }
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*TODO PART-02 */

.part-2 {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 170, 184);
  /* justify-content: center; */
  gap: 10px;
  & .left {
    width: 60%;
    height: 100%;
    /* background-color: #a93600; */
    & .circle-out {
      width: 80%;
      aspect-ratio: 1;
      background-color: #c3245488;
      border-radius: 50%;

      & .circle-in {
        width: 96%;
        aspect-ratio: 1;
        background-color: rgb(255, 147, 165);
        border-radius: 50%;
        position: relative;
        & img {
          width: 70%;
          aspect-ratio: 1;
          border-radius: 20px;
          filter: drop-shadow(0px 0px 8px #000);
        }
      }
    }
  }
}
& .right {
  width: 40%;
  height: 100%;
  /* background-color: brown; */
  align-items: start;
  & h1 {
    font-size: 5vw;
    line-height: 10vh;
    margin-block: 1vw;
    & span {
      font-size: 8vw;
      color: transparent;
      background-image: url("Dynamic\ Berry\ Splash.jpeg");
      background-position: center;
      background-size: cover;
      background-clip: text;
    }
  }
  & p {
    width: 90%;
    font-size: 1.2vw;
    font-weight: 500;
    line-height: 3vh;
  }
  & .btn {
    padding: 2vh 1.7vw;
    font-size: 0.9vw;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #ff6875;
    color: #000000;
    margin-block: 1vw;
    &:hover {
      background-color: #ff9da7;
      color: rgb(0, 0, 0);
    }
  }
  & .img {
    width: 100%;
    height: 40%;
    position: relative;
    justify-content: start;
    & img {
      width: 40%;
      aspect-ratio: 1;
      rotate: 130deg;
      margin-right: -20px;
      filter: drop-shadow(0px 0px 10px #000);
    }
    & img:nth-last-child(1) {
      rotate: 316deg;
      margin-left: -20px;
    }
    &::after {
      position: absolute;
      content: "Love for Food";
      left: 35%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 4vw;
      font-weight: 700;
      color: transparent;
      background-image: radial-gradient(circle, #ff8b9e, #ff5885);
      background-size: cover;
      background-position: 100%;
      background-clip: text;
    }
  }
}

/*TODO PART-03 */

#part-3 {
  width: 100%;
  height: 100vh;
  gap: 1vw;
  & .div {
    height: 45%;
    width: 100%;
    gap: 1vw;

    & .container {
      width: 25%;
      height: 100%;
      border-radius: 10px;
      align-items: start;
      justify-content: space-around;
      box-shadow: 0px 0px 16px #ff6875;
      padding: 1vh;
      & .img {
        width: 100%;
        height: 60%;
        /* background-color: crimson; */
        & img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }
      & h2 {
        font-family: "Cinzel", serif;
        font-weight: 700;
      }
      & p {
        font-size: 1.1vw;
        & span {
          color: #ff386d;
        }
      }
      & .btn {
        padding: 2vh 1.7vw;
        font-size: 0.8vw;
        border-radius: 5px;
        outline: none;
        border: none;
        background-color: #ff6875;
        color: #000000;
        &:hover {
          background-color: #ff818e;
        }
      }
    }
  }
}
